<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../public/assets/css/styles.css">
  <title>Register</title>
</head>
<body>
  <div class="formContainer">
    <h1>Sign up</h1>
    <form action="../controllers/register.php" method="POST" id="signupForm">
      <label>Username: </label>
      <input type="text" name="username" required>
      <label>Email: </label>
      <input type="email" name="email" required>
      <label>Password: </label>
      <input type="password" name="password" required>
      <button>Register</button>
      <span>Have account? <a href="login.html">Log in</a></span>
    </form>
  </div>
</body>
</html>